body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
    flex-direction: column;
}

#app {
    text-align: center;
    max-width: 600px;
}

h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 10px;
    font-size: 1em;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    background-color: #2860ee;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #1d33b2;
}

#result-section {
    margin-top: 20px;
}

#result-sentence {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.hidden {
    display: none;
}

.fade {
    animation: fade 0.5s forwards;
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Toggle Button Styles */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin: 10px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2860ee;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

/* Dark Theme Styles */
body.dark {
    background-color: #333;
    color: white;
}

body.dark button {
    background-color: #4d4d4d;
    color: white;
}

body.dark button:hover {
    background-color: #666;
}

body.dark input[type="text"] {
    background-color: #444;
    border: 2px solid #666;
    color: white;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
    background: transparent;
    z-index: 1000;
}

/* Footer Styles */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
    background: transparent;
}

footer a {
    margin: 0 15px;
    display: inline-block;
    font-size: 20px;
    color: black;
}

body.dark footer a {
    color: white;
}