body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}

#app {
    text-align: center;
    max-width: 600px;
}

h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 10px;
    font-size: 1em;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    background-color: #2860ee;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #1d33b2;
}

#result-section {
    margin-top: 20px;
}

#result-sentence {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.hidden {
    display: none;
}

.fade {
    animation: fade 0.5s forwards;
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
